<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<p th:text="'Type here to search for a car:'" />
<form th:action="@{find}" method="post">
    Search:
    <input type="text" name="find"/>
    <br/>
    <input type="submit" value="Search" />
</form>

<p th:text="${available_text}" />
<div>
    <table border="1">
        <tr>
            <th th:each="field : ${fields}" th:text="${field.getName()}"></th>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.getId()}"></td>
            <td th:text="${car.getBrand()}"></td>
            <td th:text="${car.getModel()}"></td>
            <td th:text="${car.getColor()}"></td>
            <td th:text="${car.getDamage()}"></td>
            <td th:text="${car.getPrice()}"></td>
            <td th:text="${car.getQuantity()}"></td>
        <tr/>
    </table>
</div>
</body>
</html>